html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container2 {
    width: 100%;
    height: auto;
    display: flex;
}
.cart1{
    width: 100%;
    height: auto;
    display: flex;
}